<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Immobiliare</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>annunciServlet</display-name>
    <servlet-name>annunciServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.annunciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>annunciServlet</servlet-name>
    <url-pattern>/annunci-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>annuncioServlet</display-name>
    <servlet-name>annuncioServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.annuncioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>annuncioServlet</servlet-name>
    <url-pattern>/annuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findCittaServlet</display-name>
    <servlet-name>findCittaServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.findCittaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findCittaServlet</servlet-name>
    <url-pattern>/find-annuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveAnnuncioServlet</display-name>
    <servlet-name>saveAnnuncioServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.saveAnnuncioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveAnnuncioServlet</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>annunciSenzaRegServlet</display-name>
    <servlet-name>annunciSenzaRegServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.annunciSenzaRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>annunciSenzaRegServlet</servlet-name>
    <url-pattern>/annunci-senzaR-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>annuncioSenzaRegServlet</display-name>
    <servlet-name>annuncioSenzaRegServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.annuncioSenzaRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>annuncioSenzaRegServlet</servlet-name>
    <url-pattern>/annuncio-senza-reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findSenzaRegServlet</display-name>
    <servlet-name>findSenzaRegServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.findSenzaRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findSenzaRegServlet</servlet-name>
    <url-pattern>/find-annuncio-senzaR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrazioneUtenteServlet</display-name>
    <servlet-name>registrazioneUtenteServlet</servlet-name>
    <servlet-class>org.generationitaly.immobiliare.controller.registrazioneUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrazioneUtenteServlet</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
</web-app>